body { 
    background-color:black;
    background-position:center;
    background-size:cover;
    font-family:Tahoma;
    font-size:300%;
    color:white;
    padding:5px;
}
.content {
    align: center;
    width: 80%;
    height: 36vh;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 8%;
    margin: 5%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */

}
.content1 {
    align: center;
    width: 80%;
    height: 36vh;
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 8%;
}
.content {
    align: center;
    width: 80%;
    height: 38vh;
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 8%;
    margin: 5%;
}
.imgbor {
    border-radius: 7%;
}