body { 
    background-size:cover;
    font-family:Tahoma;
    font-size:300%;
    color:white;
    padding:5px;
}
.content {
    align: center;
    width: 95%;
    height: 37vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    color: black;
    border-radius: 8%;
    margin: 5%;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;    
        box-sizing: border-box;         

}
.content1 {
    align: center;
    width: 95%;
    height: 39vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 13px;
    background-color: white;
    color: black;
    border-radius: 8%;
    margin: 5%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         
}
.imgbor {
    border-radius: 7%;
}


@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }
  
  