body { 
    background-size:cover;
    font-family:Tahoma;
    font-size:300%;
    background-color: darkslategray;
    padding:5px;
}       

  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background: black;
    height: 8%;
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo {
    position: relative;
    left: 5%;
    top: 1%;
    padding-bottom: 1%;
    padding-top: 0.5%;
    height: 50px;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
  
    position: relative;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
  }
  
  nav a:hover {
    color: purple;
  }
  
  nav a:hover::before {
    width: 100%;
  }

.bio {
  position: relative;
  right: 10%;
  left: 10%;
  top: 10%;
  width: 80%;
  font-size: 65%;
  font-family: tahoma;
  text-align: center;
  color: white;
}

.bio2 {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 55%;
  width: 80%;
  font-size: 60%;
  font-family: tahoma;
  text-align: center;
  border-radius: 20px;
}