body { 
    background-size:cover;
    background-position:center;
    background-size: cover;
    font-family:Tahoma;
    font-size: 100%;
    color:black;
    padding:5px;
}
.main1	{
    align: left;
    width: 20%;
    height: max-content;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px;
    color: black;
    border-radius: 5%;
    margin: 2%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding:20;
    font-size: 270%;
    position:absolute;
    left: 0%;
    top: 10%;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }

a {
  text-decoration: none;
  color: #9c00cc;
}

a:hover {
  color: #9f00ff;
}