body {
    background-color: #10002B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: white;
    padding: 5px;
}

.main {
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5rem;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    .main {
        width: 98%;
        font-size: 2rem;
    }

    .intre {
        font-size: 1.5rem;
    }
}

.intre {
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 3rem;
    padding: 1rem;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.box {
    flex: 1;
    max-width: 35%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    font-size: 15pt;
    box-sizing: border-box;
    padding: 1rem;
}

/* Responsive updates */
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .box {
        flex: 0 0 49%;
        max-width: 49%;
        font-size: 3vh;
    }
}

@media only screen and (max-width: 1000px) {
    .box {
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 3vh;
    }
}

.lightbody {
    background-color: plum;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: white;
    padding: 5px;
}

.langlink {
    color: grey;
    text-decoration: none;
}

.langlink:hover {
    color: purple;
    text-decoration: none;
    cursor: context-menu;
}

nav a {
    color: plum;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14pt;
}

nav a:hover{
    color: red;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    height: 2.5cm;
}

header nav {
    width: 100%;
    text-align: left;
    height: 8%;
    padding-left: 2%;
    top: 0.7cm; 
    float: center;
    position: fixed;
}

@media only screen and (max-width: 800px) {
    nav {
        float: center;
        position: fixed;
        top: 0.8cm;
    }
  }

.news-spinner {
    position: relative;
    top: 2.5cm;
    width: 100%;
    background-color: #10002B;
    color: purple;
    overflow: hidden;
    white-space: nowrap;
    height: 1cm;
    margin: 0 auto;
}

.text-spinner {
    display: inline-block;
    animation: scroll 10s linear infinite;
}

.text-spinner span {
    display: inline-block;
    padding-right: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(-100%);
    }
}

button {
    background-color: #20113B;
    color: white;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s, transform 0.2s;
}
  
button:hover {
    background-color: #994499;
    transform: scale(1.05);
}
  
button:active {
    background-color: #3730a3;
    transform: scale(0.98);
}
  

.light-news-spinner {
    background-color: plum;
}

.githubicon {
    width: 40px;
    background-color: white;
}

nav ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
nav ul.nav-list li {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
  }
  
.icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    vertical-align: middle;
    background-color: black;
  }

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}