
header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  
    position: relative;
}
  
  nav a {
    color: orangered;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
  
  nav a:hover {
    color: orangered;
}
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: purple;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
  
  nav a:hover::before {
    width: 100%;
}

body {
  height: 100vh;
   background: black;

}
.fave {
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 20%;
  right: 20%;
  top: 5%;
  width: 60%;
  height: 10%;
  border-radius: 5px;
}

.faves {
  background-color: orangered;
  width: 80%;
  height: 3cm;
  position: absolute;
  left: 10%;
  right: 10%;
  border-radius: 10px;
}
.logo {
  max-width: 2.5cm;
  border-radius: 5px;
}

.favestext {
  color: purple;
  font-size: 350%;
  position: absolute;
  left: 30%;
  right: 30%;
  top: -25%;
}