@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #F70D1A;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 10%;
}

header {
  background: #F70D1A;
  margin-left: -1%;
  margin-top: 1%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  height: 4%;
  }

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 120%;
  background-color: #75119c;

  position: absolute;
  top: 20%;
  bottom: 30%;
  width: 0%;

  transition: cubic-bezier(.49,.46,.89,.07) 500ms;
  z-index: -1;
}

nav a:hover::before {
  width: 100%;
}

.profile {
    position: relative;
    left: 27%;
    margin-top: 5%;
    border-radius: 7%;
    height: 30%;
}

.main {
   float: right; 
}

.text {
  position: relative;
  right: -55%;
  bottom: 32%;
  background-color: #F70D1A;
  width: 30%;
  height: 30%;
  border-radius: 10%;
  text-align: center;
  font-family: tahoma;
  font-size: 130%;
  color: white;
}

li {
  z-index: 7000;
}

.mover {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #12D900 ;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
}

.StyleChange {
  background-color: #545454;
  width: 15%;
  height: 5%;
  position: absolute;
  left: 80%;
  top: 5%;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  display:block;
}

a:link {
  text-decoration: none;
}