@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
.bg {
  position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, white 0%, #da1d1d 25%, #9210c5 51%,  #0000cd 100%);
  -webkit-animation: AnimateBG 10s ease infinite;
          animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  position: relative;
  left: -10%;
  top: 1%;
  padding-bottom: 1%;
  padding-top: 0.5%;
  height: 3.5vw;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 4.5vw;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85vw;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #75119c;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.profile {
  position: absolute;
  left: 35%;
  right: 35%;
  bottom: 3%;
  height: 20vw;
  border-radius: 1rem;
}

.main {
   float: right; 
}

.text {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 10%;
  height: 30%;
  border-radius: 10%;
  text-align: center;
  font-family: tahoma;
  font-size: 130%;
  color: black;
}

@media only screen and (max-width: 600px) {
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
   height: 6vw;
  }
}

@media only screen and (min-width: 1700px) {
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.65vw;
  }
}

@media only screen and (min-width: 1700px) {
  .logo {
    height: 2vw;
  }
}

@media only screen and (max-height: 950px) {
  .profile {
    height: 0px;
  }
}

@media only screen and (max-height: 950px) {
  .text {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 5%;
    height: 50%;
    border-radius: 10%;
    text-align: center;
    font-family: tahoma;
    font-size: 150%;
    color: black;
  }
}

@media only screen and (max-width: 1300px) {
  .profile {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 5%;
    width: 60vw;
  }
}

@media only screen and (min-width: 2000px) {
  .profile {
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 5%;
    width: 30vw;
  }
}